#textdomain wesnoth-wov

#The drakes have found or fled through a chasm in the mountains.
#The large grid of chasm is the result of an earthquake and dissects 
#a former dwarven or troll city.
#The same chasms that made the surviving dwarfs/trolls to leave, are the perfect
#Transportation routes for the drakes, since they can fly here.

#The drakes can find here: 
#A weapon forge. (Enables some units)
#Some gold. 

#A safe place that can act as a temporary aerie.
#The dwarves have left a dragon imprisioned in chains. To free the dragon some 
#dungeon puzzle has to be solved.
#When the drakes have fled from the battlefield a side exit of this dungeon 
#could be used for a counterattack.

#TODO FABI
#Exploration and battle ensues. Fendrin needs to write this battle.

[scenario]

    id=08_Lost_City
    name= _ "Lost City"
    next_scenario=09_The_Storm    

#MAP: TODO that comment is out of date
#The Clasher line is more or less useless in this scenario.
#That is why the scenario can be put to a time where clashers are not available.
#Terrain must be carefully choosen.
    #TODO map is a stub
    {WOV_MAP 08_Lost_City.map}

    #TODO add a playlist
    {DEFAULT_MUSIC_PLAYLIST}

    #TODO time of day - underground scenario / mixed scenario?
    {DEFAULT_SCHEDULE}

    [side]
        side=1
        id=Galun
        controller=human
        type=Drake Burner
        recruit=Drake Burner, Drake Fighter, Drake Glider
        [unit]
            id=Vank
            #TODO hmmm ask ESR about macros.
        [/unit]
    [/side]

    [side]
        side=2
        no_leader=yes
        controller=ai
        hidden=yes
    [/side]

    [story]
        [part]
            story= _ "As the flight was nearing the range that men would someday call the Heart Mountains, they saw from the air a great, derelict city. But so little did we Drakes know as yet of the ways of other speaking peoples that the flight's eyes scarce knew how to comprehend it."
        [/part]
    [/story]

    [event]
        name=start
        [message]
            id=Galun
            message= _ "Look, ahead of us near the edge of the high peaks. There's something big there that looks <em>made</em>. Carved. Could those be buildings?"
        [/message]
        [message]
            id=Vank
            message= _ "Wait...yes, I see it. How odd; it looks something like a Runner keep, but bigger. Much bigger. There is worked stone. And something about the way it's layed out reminds me of an eyrie."
        [/message]
        [message]
            id=Galun
            message= _ "Where there's worked stone there may be metal and tools. We'll need those things."
        [/message]
        [message]
            id=Vank
            message= _ "Metal and tools, indeed. But I wouldn't want to settle here, it's too low."
        [/message]
        [message]
            id=Galun
            message= _ "And not stable. The builders are gone for good reason; sooner or later, tremors and earth-fire would eat anything we built here. We go north, further into the mountains."
        [/message]
    [/event]

    #TODO bring the event in place.
    [event]
        name=clashers
        [message]
            speaker=narrator
            image=wesnoth-icon.png
            message= _ "Narrator: You can now recruit armored Clashers."
        [/message]
    [/event]

[/scenario]
