#textdomain wesnoth-wov

[scenario]
    id=hunt
    name= _ "The Hunt"
    next_scenario=contend

    [story]
        [part]
            story= _ "Placeholder: this is where the scrollkeeper is being introduced"
        [/part]
    [/story]

    [side]
        side=1
        {GALUN}
        [unit]
            {VANK}
            find_vacant=yes
        [/unit]
        recruit=Drake Burner, Drake Glider
    [/side]

    [side]
        #deer
        side=2
        no_leader=yes
    [/side]

    [event]
        name=start
        [message]
            id=Vank
            message= _ "Galun, I see some deer to hunt ahead."
        [/message]
        [message]
            id=Galun
            message= _ "... What? ... I didn't listen."
        [/message]
        [message]
            id=Vank
            message= _ "Where is your mind? I haven't seen you that flighty(or fickle, scatterbrained) for cycles."
        [/message]
        [message]
            id=Galun
            message= _ "It's the upcomming of the swarm. The hatch is near and I fear that we won't find a suitable place in Morodor anymore."
        [/message]
        [message]
            id=Vank
            message= _ "Don't torment yourself. There is no point in arguing the inevitable. We must try our best. Or what choice do we have?"
        [/message]
        [message]
            id=Galun
            message= _ "Leave the islands alone, there must be more land in the oceans."
        [/message]
        [message]
            id=Vank
            message= _ "The ocean is what splits the world from heaven. You fall apart when travelling to far. Didn't you listen a single time during the lectures?" 
        [/message]
        [message]
            id=Galun
            message= _ "Have you heard of those that believe the world is round like an egg? And there is no abyss to fall into then."
        [/message]
        [message]
            id=Vank
            message= _ "You won't convince a single drake to risk the swarm with ideas that are based of rumours. So I guess the only chance to fall from the world will be to claim for the contend by yourself. (Loughs) Can't see how you even want to become a contender if dreaming is your work when hunt was called."
        [/message]
        [message]
            id=Galun
            message= _ "Speaking from the hunt, let's take the deer there. You must been distracted or blind yourself not spotting it before."
        [/message]
        [message]
            id=Vank
            message= _ "... Right ... . All the shoot, prepare for hunt!"
        [/message]
    [/event]


[/scenario]