#textdomain wesnoth-wov
[textdomain]
    name="wesnoth-wov"
[/textdomain]

# wmlscope: set export=no
[campaign]
    id=Wings_of_Victory
    name= _ "Wings of Victory"
    abbrev= _ "WoV"
    icon="units/drakes/inferno-fly-2-upstroke.png~CROP(0,0,72,72)~RC(magenta>red)"
    rank=300 #TODO: Set to 120 when added to mainline
    start_year="3 YW"
    end_year="4 YW"
    define=CAMPAIGN_WINGS_OF_VICTORY
    first_scenario="01_The_Hunt"
    image="data/core/images/portraits/drakes/inferno.png~SCALE(350,350)"
    description= _ "Seize, conquer, dominate, expand. That was ever the Way of the Drakes. But the Brothers of the Spiral Path have seen a vision: Irdya is made like an egg, and the day will come when there is no more world to conquer - and what of the Way then? There was a drake named Galun on whom fell the burden of finding an answer...

" + _ "(Intermediate level, 11 scenarios.)" + "
" + _ "Version:" + " " + "{~add-ons/Wings_of_Victory/dist/version}"

    {CAMPAIGN_DIFFICULTY EASY   "units/drakes/burner-fly-1.png~RC(magenta>red)"        ( _ "Fledgling") ( _ "Normal")}
    {CAMPAIGN_DIFFICULTY NORMAL "units/drakes/fire-fly-2-upstroke.png~RC(magenta>red)" ( _ "Aspirant")  ( _ "Challenging")} {DEFAULT_DIFFICULTY}
    {CAMPAIGN_DIFFICULTY HARD   "units/drakes/inferno-fly-5.png~RC(magenta>red)"       ( _ "Dominant")  ( _ "Difficult")}

    [about]
        title= _ "Authors"
        [entry]
            name="Fabi/Fendrin"
        [/entry]
        [entry]
            name="Eric S. Raymond (esr)"
        [/entry]
        [entry]
            name = "Jeffrey 'Sigurd' Westcoat (SigurdFireDragon)"
        [/entry]
    [/about]
[/campaign]

#ifdef CAMPAIGN_WINGS_OF_VICTORY
[binary_path]
    path=data/add-ons/Wings_of_Victory
[/binary_path]

{~add-ons/Wings_of_Victory/utils}
{~add-ons/Wings_of_Victory/scenarios}
[+units]
    {~add-ons/Wings_of_Victory/units}
[/units]
#endif

# TODO: use em dashes & unicode quote? Pango doesn't seem to like it on my system,
# so save until final revision stages. Reduce usage of - and ' in the meantime when possible.

# wmllint: directory spellings Galun Vank Reshan'lo Morogor
# wmllint: directory spellings Kerath Vulcaniad Verkon

#  Wings of Victory
#  Copyright (C) 2009
#
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 2 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program.  If not, see <http://www.gnu.org/licenses/>.
